/* index.html */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7d7d7d;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  height: 600px;
  background-color: #bfbfbf;
}

.screen-sketch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  height: 600px;
  background-color: #bfbfbf;
}

.screen-sketch>div {
  height: auto;
  flex: 1 0 auto;
}

.row:hover {
    background-color: blue;
}