/* index.html */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7d7d7d;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  height: 600px;
  background-color: #bfbfbf;
}

.screen-sketch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  height: 600px;
  background-color: #bfbfbf;
  padding: 1px;
}

.screen-sketch>div {
  height: auto;
  flex: 1 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: stretch;
  margin: 0;
  height: 0;
  width: 0;
}
.row {
    background-color: rgb(255, 255, 255);
    height: 37px;
    width: 34px;
    border: 1px solid black;
}
.row:hover {
  background-color: blue;
}